# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
.venv/
ls_venv/
env/
.env

# Datasets and Media
*.mp4
*.avi
*.mov
*.mkv
images/
all_frames/
dataset/

# OS Specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
